{#
	@since PM (xx.01.2020)
	
	@source user/themes/quark/templates/partials/base.html.twig
	{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
	{% if theme_config.dropdown.enabled %}
	{% for item in site.menu %}
#}

{% set THEME = config.theme %}
{% set SLUG = upmorph_slug ?: THEME.slug %}
{% set LANG = html_lang %} {# simple wrapper #}

{% import _self as macros %}
{% macro path(name) %}partials/{{ name }}.html.twig{% endmacro %}


<!DOCTYPE HTML>
<html 
	lang="{{ LANG }}"
	{# lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}" #}
	class="{{ browser.browser }} {{ browser.platform }}"	
>
	<head>
		{% block head %}
			<meta charset="utf-8"/>
			<title>
				{% if THEME.title.enabled %} 
					{{ site.title|e('html') }} 
					{% if header.title %} :: {{ header.title|e('html') }}{% endif %}
				{% else %}{{ header.title|e('html') }}{% endif %}
			</title>
		
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
			<meta name="theme-color" content="#2b2b2b">
			{% include macros.path('metadata') %}

			{% if THEME.favicon %}
				{# @see https://twig.symfony.com/doc/3.x/tags/for.html#iterating-over-keys #}
				{% for favicon in THEME.favicon %} {# one round #}
					<link rel="icon" type="{{ favicon.type }}" href="{{ favicon.path }}" />
				{% endfor %}
			{% else %}
				<link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
			{% endif %}
			
			<link rel="canonical" href="{{ page.url(true, true) }}" />
		{% endblock head %}

		{# @see https://learn.getgrav.org/16/themes/asset-manager #}
		{% block stylesheets %}
			{% do assets.addCss('theme://assets/css/style.css', 1) %}
		{% endblock %}
		{% block javascripts %}
			{% do assets.addJs('theme://assets/js/logic.js', {group:'bottom'}) %}
		{% endblock %}

		{% block assets deferred %}
			{{ assets.css()|raw }}
			{{ assets.js()|raw }}
		{% endblock %}
	</head>
	<body id="top" class="is-preload {{ page.header.body_classes }}"> {# incognito #}
		<aside id="slider">
			{% block background %}
				{% include macros.path('slider') %}
			{% endblock %}
			<section class="mask"></section>
		</aside>
		<article id="body">
			<header>
				{% block header %}
					{% include macros.path('header') %}
				{% endblock %}
			</header>
			<main>
				{% block body %}{% endblock %}
				{% include macros.path('registration') %}
			</main>
			<footer>
				{% block footer %}
					{% include macros.path('footer') %}
				{% endblock %}
			</footer>
		</article>
		<aside>{% include macros.path('modals') %}</aside>

		{% block bottom %}
			{# 
				PM (15.12.2019) used in main.js to adapt main.js to GRAV 
				<script>const UPMORPH_THEME_URL = '{{ theme_url }}/{{ theme_dir|basename }}.php';</script>
			#}
			{# @version 2020.7 @since PM (08.02.2020) @deprecated
			{% set recipients = [] %}
			{% for recipient in THEME.registration_recipients %}
				{% set recipients = recipients|merge([recipient.recipient]) %}
			{% endfor %}
			<script>
				const UPMORPH = {
					slug: '{{ SLUG }}',
					lang: '{{ LANG }}',
					qwertzuiop: '{{ recipients|json_encode|base64_encode|base64_encode }}',
					title: '{{ site.title|base64_encode }}'
				};
			</script>
			#}
			{#
				<pre>{{ THEME.registration_recipients|print_r }}</pre>
				<pre>{{ THEME.registration_recipients|json_encode }}</pre>
				<pre>{{ recipients|print_r }}</pre>
			#}
			
			<script>
				const UPMORPH = {
					slug: '{{ SLUG }}',
					dev: '{{ upmorph_dev }}' == '1',
					auth: '{{ upmorph_auth }}',
				};
			</script>
			{{ assets.js('bottom')|raw }}
		{% endblock %}
	</body>
</html>