<section>
	<a class="logo" href="{{ home_url }}">
		{% if THEME.logo %}
			{# @see https://twig.symfony.com/doc/3.x/tags/for.html#iterating-over-keys #}
			{% for logo in THEME.logo %} {# one round #}
				<img src="{{ logo.path }}" alt="{{ config.site.title }} :: LOGO">
			{% endfor %}
		{% else %}
			<img class="{{ SLUG }}" src="{{ url('theme://images/logo.png') }}" alt="{{ config.site.title }} :: LOGO">
		{% endif %}
	</a>
</section>
<nav>
	{% set object = null %}

	{% if THEME.about_us_page %} {# TRUE if the page selection is NOT empty #}
		{% for page in pages.children if object is null %}
			
			{% if page.isPage and page.url(false, false, false, true) == THEME.about_us_page and page.header.title and page.content %}
				<div class="standalone">
					<button data-target="about_us">{{ page.header.title }}</button>
				</div>
				{% set object = page %}
			{% endif %}

		{% endfor %}
	{% endif %}
	{# SHOULD NOT MERGE #}
	{% if THEME.about_us_inline and object is null %} {# TRUE if the inline selection is NOT empty #}
		{% for inline in THEME.about_us_inline if object is null %}
				
			{% if LANG == inline.language and inline.title and inline.content %} {# TRUE if the language matched #}
				<div class="inline">
					<button data-target="about_us">{{ inline.title }}</button>
				</div>
				{% set object = inline %}
			{% endif %}

		{% endfor %}
	{% endif %}

	{# language selector #}
	{% if system.languages.supported|length > 1 %}
		<div>
			<button class="button languages dropdown" data-target="languages">{{ LANG }}</button>
			<div id="languages" class="modal languages">
				{% for lang in system.languages.supported if LANG != lang %}
					<a class="button" href="/{{ lang }}">{{ lang }}</a>
				{% endfor %}
			</div>
		</div>
	{% endif %}
</nav>