{# PM (22.01.2020) this script is used to generate all the modal containers #}

{# {% set language = grav.language.getActive ?: grav.config.site.default_lang %} #}
{% set theme = config.theme %}
{% set language = html_lang %}

{% macro modal(id, uri, theme, pages, language, regex = '') %}
	{% set object = null %}
	{% set active = uri.query(id|regex_replace('/_/', '-')) ? 'active' : '' %} {# the active flag #}

	{% if theme[id ~'_page'] %} {# TRUE if the page selection is NOT empty #}
		{% for page in pages.children if object is null %}
			
			{% if page.isPage and page.route == theme[id ~'_page'] and page.header.title and page.content %}
				<div id="{{ id }}" class="modal full standalone {{ active }}" data-target="{{ id }}">
					<h2>
						<div class="capital">{{ regex == '' ? page.header.title : page.header.title|regex_replace(regex, '') }}</div>
						<div class="button" data-target="{{ id }}">&times;</div>
					</h2>
					<div>{{ page.content }}</div>
				</div>
				{% set object = page %}
			{% endif %}

		{% endfor %}
	{% endif %}
	{# SHOULD NOT MERGE #}
	{% if theme[id ~'_inline'] and object is null %} {# TRUE if the inline selection is NOT empty #}
		{% for inline in theme[id ~'_inline'] if object is null %}
				
			{% if language == inline.language and inline.title and inline.content %} {# TRUE if the language matched #}
				<div id="{{ id }}" class="modal full inline {{ active }}" data-target="{{ id }}">
					<h2>
						<div class="capital">{{ regex == '' ? inline.title : inline.title|regex_replace(regex, '') }}</div>
						<div class="button" data-target="{{ id }}">&times;</div>
					</h2>
					<div>{% markdown %}{{ inline.content }}{% endmarkdown %}</div>
				</div>
				{% set object = inline %}
			{% endif %}

		{% endfor %}
	{% endif %}
{% endmacro %}


{{ _self.modal('about_us', uri, theme, pages, language) }} {# about us #}
{{ _self.modal('privacy_policy', uri, theme, pages, language, '/(^[^\\[]*\\[|\\][^\\]]*$)/') }} {# privacy policy #}
{{ _self.modal('imprint', uri, theme, pages, language) }} {# imprint #}
